<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body >
    <div class="container">
    <div id="image_container">
      <img src="../public/WhatsApp Image 2023-05-12 at 17.33.54.jpg" alt="Karkuvel" class="image">
      <ul class="contact">
        <li>144/40 D-1,Karmega Nadar Street,Chettiyarpatti,Dhalavaipuram</li>
        <li>8220847505</li>
        <li>dkarkuvelraja@gmail.com</li>
    </ul>
    </div>
    <h1>Karkuvel Raja D</h1>
    <h4>Web Developer</h4>  
    <h2 class="section-header">Objective</h2>
    <p>As an enthusiastic and dedicated fresher, my goal is to contribute my strong foundation in web development, passion for coding, and commitment to producing high-quality user experiences. I aim to leverage my educational background , along with my proficiency in HTML, CSS, JavaScript, Bootstrap,DOM,Jquery,Node and Express, to actively participate in designing, developing, and maintaining responsive and visually appealing websites. With a keen eye for detail and a determination to stay updated with industry trends, I am eager to learn from experienced professionals and collaborate within a dynamic team to create innovative web solutions that not only meet but exceed user expectations.</p>
    <h2 class="section-header">Education</h2>
    <ul class="section">
        <li>
            <h3>Casa Di Mir Matric higher secondary school</h3>
            <p>2017-2018</p>
            <p>SSC</p>
            <p>88.2%</p>
        </li>
        <li>
            <h3>Casa Di Mir Matric higher secondary school</h3>
            <p>2019-2020</p>
            <p>HSC</p>
            <p>76.5%</p>
        </li>
        <li>
            <h3>PSG college of arts and science</h3>
            <p>2020-2023</p>
            <p>B.Sc.Chemisty</p>
            <p>80%</p>
        </li>
    </ul>
    <h2 class="section-header">Skills</h2>
    <ul class="section">
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Node</li>
        <li>Express</li>
        <li>Bootstrap</li>
        <li>DOM</li>
        <li>Jquery</li>
        <li>React</li>
    </ul>
    <h2 class="section-header">Language</h2>
    <ul class="section">
        <li>Tamil</li>
        <li>English</li>
    </ul>
    <h2 class="section-header">Certificate</h2>
    <ul class="section">
        <li>The complete 2023 Web development Bootcamp-Udemy(Completed)</li>
        <li>100 days of code:The complete python pro Bootcamp for 2023-Udemy(ongoing)</li>
        <li>Sql for data science-Coursera(ongoing)</li>
    </ul>
</div>
</body>
</html>